body {
  background: url("/Users/jtam11/Documents/portfolio/jtam11.github.io/images/DeathtoStock_Wired7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 150px;
  text-align: center;
}
